.navigation {
  height: 100px;
  background: #5e6484;
  border-bottom: 10px solid #6d85ff;
  display: flex;
  font-size: 24px;
  margin: 0;
  padding: 0;

  .links-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: none;
    visibility: hidden;
    align-items: center;
    justify-content: flex-end;
    color: white;
    .nav-link {
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

.logo {
  max-width: 50px;
  margin: 25px 20px;
}
